<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
  </head>
  <body>
    <div class="content">
      <h1>發表一篇貼文</h1>
      <form id="form">
        <div class="title">
          <label>文字內容</label>
          <input type="text" name="message" class="message" />
        </div>
        <div class="title">
          <label>圖片檔案</label>
          <input type="file" name="file" />
        </div>
        <div>
          <button type="submit" id="submit">Submit</button>
          <p id="buttonSection"></p>
          <p></p>
        </div>
      </form>
      <hr />
    </div>
  </body>
  <script src="../static/index.js"></script>
</html>
